.background-dark {
    background-color: rgb(88, 102, 25);
    width: auto;
    height: auto;
    background-attachment: scroll;
    padding: 2em 2em 2em 2em;

}


.line{
    box-sizing:border-box ;
    border-width: 100%;
    
}



.hr-bottom {
    margin-bottom: 7%;
    margin-top: 7%;
}



.link-button-shevaa {
    line-height: 100%;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0%, 5%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: solid;
    font-size: large;
    cursor: pointer;
    margin-top: 1%;
    font-size: 140%;
    width: auto;
}

.link-button-shevaa:hover {
    background-color: #7e7e7e;
    color: black;
    box-shadow: 0px 0px 60px rgb(214, 224, 18, 0.465);

}


.margin-left-back {
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.margin-left {
    margin-left: 15%;
    margin-bottom: 1%;
}

.link-button-neyla {
    line-height: 110%;
    vertical-align: middle;
    border: 1px #000000;
    border-radius: 0%, 5%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: solid;
    font-size: large;
    cursor: pointer;
    margin-top: 1%;
    font-size: 140%;
    width: auto;
}

.link-button-neyla:hover {
    background-color: #7e7e7e;
    color: black;
    box-shadow: 0px 0px 60px rgb(214, 224, 18, 0.465);

}

.margin-right {
    margin-inline-start: 9%;
    margin-bottom: 1%;
}



.link-button {
    line-height: 150%;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0%, 5%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: solid;
    font-size: large;
    cursor: pointer;
    margin-top: 1%;
    font-size: 100%;
    width: 70%;
}




.link-button:hover {
    background-color: #7e7e7e;
    color: black;
    box-shadow: 0px 0px 60px rgb(214, 224, 18, 0.465);

}


.center {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.right {
    display: flex;
    float: right;
    margin-right: 10%;
    
    
    
}

.block{
    inset-block: 100% 100%;
}


.left {
    display: flex;
    float: left;
    margin-left: 10%;
    
}

.box{
    
        border: 2px solid rgb(0, 0, 0);
        height: 50%;
        width: 100%;
      }
  


  .button-back{
    color: black;
    
  }


.link-button1 {

    line-height: 150%;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0%, 5%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: solid;
    font-size: large;
    cursor: pointer;
    margin-top: 1%;
    font-size: 100%;
    width: 70%;
}

.link-button1:hover {
    background-color: #7e7e7e;
    color: black;
    box-shadow: 0px 0px 60px rgba(214, 224, 18, 0.465);
}



.link-button2 {
    line-height: 150%;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0%, 5%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: solid;
    font-size: large;
    cursor: pointer;
    margin-top: 1%;
    font-size: 100%;
    width: 70%;
}

.link-button2:hover {
    background-color: #7e7e7e;
    color: black;
    box-shadow: 0px 0px 60px rgba(214, 224, 18, 0.465);
}



.link-button3 {
    line-height: 150%;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0%, 5%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: solid;
    font-size: large;
    cursor: pointer;
    margin-top: 1%;
    font-size: 100%;
    width: 70%;
}

.link-button3:hover {
    background-color: #7e7e7e;
    color: black;
    box-shadow: 0px 0px 60px rgba(214, 224, 18, 0.465);
}

.h1 {
    display: flow-root;
    font-size: 325%;
    font-family: "Bodoni MT";
    color: rgb(0, 0, 0);
    margin-bottom: -3%;
    margin-top: -6%;

}


.h3-1 {
    font-size: 150%;
}

.h3 {
    margin-top: 0%;
    font-size: 150%;
}



.center1 {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}


